@media (max-width: 576px) {
  .xs {
    font-weight: bold;

    color: red;
  }
}

@media (min-width: 576px) and (max-width:768px) {
  .sm {
    font-weight: bold;

    color: red;
  }
}

@media (min-width: 768px) and (max-width:992px) {
  .md {
    font-weight: bold;

    color: red;
  }
}

@media (min-width: 992px) and (max-width:1200px) {
  .lg {
    font-weight: bold;

    color: red;
  }
}

@media (min-width: 1200px) {
  .xl {
    font-weight: bold;

    color: red;
  }
}
