.search-bar__input-wrapper {
  position: relative;
}

.search-bar__input {
  width: 400px;
  padding-right: 55px;
}

.search-bar__submit-button {
  margin-left: 1rem;
}

.search-bar__reset-button {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translateY(-50%);
}

@media (max-width: 550px) {
  .search-bar__input {
    width: 300px;
    padding-right: 0;
  }

  .search-bar__input::placeholder {
    font-size: 0;
  }
}

@media (max-width: 450px) {
  .search-bar__group {
    display: flex;
    flex-direction: column;
  }

  .search-bar__submit-button {
    margin-top: 20px;
    margin-left: 0;
  }
}
