.disabled {
  cursor: not-allowed;
}

.disabled .page-link {
  background-color: lightgray;
}

.page-link:focus {
  background-color: initial;
  box-shadow: none;
}

.page-item:not(.active) > .page-link:hover {
  background-color: greenyellow;
}

.page-item.ellipsis > .page-link:hover {
  background-color: initial;

  cursor: auto;
}

@media (max-width: 450px) {
  .pagination .page-link {
    padding: 12px;
  }
}

@media (max-width: 400px) {
  .pagination .page-link {
    padding: 10px;
  }
}
