.disabled {
  cursor: not-allowed;
}

.disabled .page-link {
  background-color: lightgray;
}

.page-link:focus {
  background-color: initial;
  box-shadow: none;
}

.page-item:not(.active) > .page-link:hover {
  background-color: greenyellow;
}

.page-item.ellipsis > .page-link:hover {
  background-color: initial;
  cursor: auto;
}
