.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  padding-top: 1.5rem;
}

.avatar {
  background-position: center;
  background-size: cover;
}

.navbar-toggler.collapsed:focus,
.navbar-toggler.collapsed:active {
  box-shadow: none;
}
